.App {
  width: 100%;
  width: 100vw;
  height: 100vh;
}

.tableDiv {
  overflow-x: auto;
  height: 65vh;
  overflow-y: auto;
  border-radius: 1vw;
  padding: 1vh 1vw;
  margin: 2vh 2vw;
  box-shadow: 0px 0px 20px 0 rgba(162, 68, 162, 0.765),
    0px 0px 20px 0 rgba(162, 68, 162, 0.765);
  text-align: center;
}

.filters {
  display: flex;
  justify-content: right;
}

.filterSection {
  width: max-content;
  margin-right: 2vw;
}

.filterList {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 1vw;
  list-style-type: none;
  padding: 0px;
}

.gridLoader {
  justify-content: center;
}
